{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "defaults"
            }
        ],
        ["@babel/preset-react", {"runtime": "automatic"}]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ],
                ["@babel/preset-react", {"runtime": "automatic"}]
            ]
        }
    }
}
